@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat:&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 50px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  background-color: white;
  padding: 40px 100px;
}

.section-p1 .pro {
  width: 100%;
}

.section-p1 .pro img {
  max-height: 20vh;
}

.section-m1 {
  margin: 40px 0;
}

button {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: #f19820;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0, 2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0, 2s;
}

body {
  size-adjust: 60%;
}

/*Header Start */

#header {
  max-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 100px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 06);
  position: sticky;
  top: 0;
  left: 0;
}
#header .logo {
  max-width: 50%;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #ffb200;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #ffb200;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/*Home Page */
#hero {
  background-image: url("img/banner/background.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 0 right 0;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  font-family: "Poppins";
  padding-bottom: 15px;
}

#hero h1 {
  font-family: "Montserrat";
  color: #61481c;
}

#hero button {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  background-color: #e6b325;
  color: white;
  padding: 14px;
  border-radius: 16px;
  border: 0;
  background-repeat: no-repeat;
  cursor: pointer;
}
#hero button:hover {
  background-color: #bf9742;
  color: white;
}

/*Shop Page */

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 0 solid #cce7d0;
  border-radius: 32px;
  margin: 15px 0;
}
#feature .fe-box img {
  max-height: 14vh;
  margin-bottom: 10px;
}

#feature .fe-box:hover {
  background-color: white;
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #ffffff;
  background-color: #ffcb42;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

#product1 .pro {
  width: 300px;
  height: 378px;
  padding: 10px 12px;
  border: 1px solid gray;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0, 02);
  margin: 25px 70px;
  transition: 0.2s ease;
}
#product1 .pro:hover {
  border: 2px solid black;
  width: 400px;
  height: 390px;
}

#product1 .pro img {
  display: absolute;
  width: 268px;
  max-height: 700px;
  border-radius: 25px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
  font-family: "Montserrat";
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(240, 225, 18);
}

#product1 .pro .des h4 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  color: #cc704b;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  background-image: url(img/banner/banner.svg);
  width: 186vh;
  height: 44vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  margin: auto;
}

#banner h4 {
  line-height: 2;
  font-size: 32px;
  color: #d64747;
  font-family: "Montserrat";
}

#banner h2 {
  color: #375c7d;
  font-size: 60px;
  padding: 10px 0;
}

#banner h2 span {
  color: black;
  font-size: 60px;
  padding: 10px 0;
}

#banner button:hover {
  background-color: #000;
  color: #f19820;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5vh;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/banner/banner1.jpg);
  width: 650px;
  height: 52vh;
  background-size: cover;
  background-position: center;
  padding: 34px;
}

#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background: #088178;
  border: 1px solid #088178;
}

#sm-banner .box2 {
  background-image: url(img/banner/banner2.jpg);
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url(img/banner/banner3.svg);
  background-repeat: no-repeat;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

#newsletter p span {
  font-size: 14px;
  font-weight: 600;
  color: rgb(236, 231, 231);
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter .form input {
  height: 6vh;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  justify-content: space-between;
  display: flex;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter .normal{
  height: 6vh;
  background-color: #b794ba;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .follow i:hover,
footer .follow a:hover{
  color: #088178;
}

footer .row img {
  height: 40px;
  justify-content: space-between;
}

footer .copyright {
  width: 100%;
  text-align: center;
}
/*Single Product */

/*Blog Page */
